/* 导航栏 */
* {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header {
    top: 0;
    /* position: absolute; */
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #ebedf0;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;;
}
/* 左：logo */
/* logo和用户名 */

.logo_uname {
    float: left;
    width: 15%;
    height: 48px;
}

.logo_uname .logo {
    width: 80%;
    height: 48px;
    margin-right: 10px;
}

/* 中：导航栏 */
.nav-box {
    width: 70%;
    float: left;
}

.nav-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.nav-wrapper .con-space {
    flex: 3;
}
.nav-wrapper .nav-con {
    flex: 4;
}
.nav-wrapper .up-load {
    flex: 1;
}
.nav-wrapper .nav-con ul {
    display: flex;
}
.nav-wrapper .nav-con ul .nav-item {
    flex: 1;
    text-align: center;
    line-height: 42px;
    background-color: hsla(0,0%,100%,0);
    white-space: nowrap;
}
.nav-wrapper .up-load .u-link {
    display: block;
    width: 100%;
    height: 46px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #f45a8d;
    border-radius: 0 0 6px 6px;
}

/* 右：用户名 */

.uname {
    float:right;
    width: 15%;
    height: 48px;
    line-height: 48px;

}
.logout {
    margin-left: 40%;
}
a {
    text-decoration: none;
    color:inherit;
}
a, #avatar:hover {
    cursor: pointer;
    color: #78a5f1;
}