<div class="background">
    <div class="box">
       <div class="trade-header-m">
           <!-- 上 -->
          <div class="nav-menu">
            <!-- <div class="blur-bg" style="background-image:url(http://i0.hdslb.com/bfs/archive/1ee3febf53becf8ca9e84387c4578f1b41c354be.png);"></div>
            <div class="nav-mask"></div> -->

            <div class="nav-wrapper">
                <div class="nav-wrapper-left">
                    <ul class="nav-con-ul">
                        <li report-id="playpage_main" class="nav-item home"><a href="//www.bilibili.com" title="主站" class="t"><i class="header-iconfont header-icon-bilibili-tv"></i> 主站
                            <!----></a>
                            <!----></li>
                    </ul>
                </div>
                <div class="nav-wrapper-right">
                    <div class="nav-con">
                        <ul>
                            <li class="nav-item">个人中心</li>
                            <li class="nav-item">私信</li>
                            <li class="nav-item">收藏</li>
                            <li class="nav-item">发布中心</li>
                        </ul>
                    </div>
                    <div report-id="playpage_contribution" class="up-load">
                            <a href="//member.bilibili.com/v2#/upload/video/frame" target="_blank" class="u-link"> 投稿 </a>
                            <!---->
                    </div>
                </div>
            </div>
          </div>

          <!-- 中 -->
          <div class="trade-wrapper">
            <div class="search"> 
                <form class="searchform">
                    <input type="text" autocomplete="off" accesskey="s" x-webkit-speech="" x-webkit-grammar="builtin:translate" placeholder="瓜皮的id酱在此！" value="" class="search-keyword">
                    <button type="submit" class="search-submit"></button>
                </form>
            </div>
          </div>

          <!-- 下 -->
          <div class="goods-class">
            <div class="primary-menu" scrollshow="true">
               <ul class="goods-nav-menu">
                    <li class="home">
                        <a href="//www.bilibili.com"><!---->
                            <div class="nav-name">首页</div>
                        </a>
                    </li>
                   <li><div class="nav-name">图书</div></li>
                   <li><div class="nav-name">文具</div></li>
                   <li><div class="nav-name">生活用品</div></li>
                   <li><div class="nav-name">电子产品</div></li>
                   <li><div class="nav-name">化妆用品</div></li>
                   <li><div class="nav-name">服装鞋包</div></li>
                   <li><div class="nav-name">其它</div></li>
               </ul>

               <div class="gif-menu nav-gif">
                    <a href="https://www.bilibili.com/blackboard/bml/2019/guangzhou.html" target="_blank" title="BML广州场追加情报公布！" class="random-p"><img src="http://i0.hdslb.com/bfs/archive/12979ac68e91c53ca8549a72593dd3a90b19bc94.gif" alt="" /></a>
                </div>
            </div>
            
            <div class="goods-list">
                <div class="goods-box">
                    <img src="http://img.alicdn.com/tfscom/i3/2996558363/TB2a.PkdcIrBKNjSZK9XXagoVXa_!!2996558363.jpg_180x180xzq90.jpg_.webp" class="image" />
                    <div class="row">
                        <p class="goods-name"></p>
                    </div>
                    <div class="row">
                        <p class="goods-detail"></p>
                    </div>
                    <div class="row">
                        <div class="holder-box">
                            <div></div>
                        </div>
                        <div class="price-box">
                            <div class="price"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagebox"></div>
          </div>
       </div>

    </div>
</div>
