<div class="content">
    <div class="tab">
        <!-- <div id="tab-item" class="active">
            <p (click)="switch(0)"><a>免费商品</a></p>
        </div>
        <div id="tab-item">
            <p (click)="switch(1)"><a>商品</a></p>
        </div>
        <div id="tab-item">
            <p (click)="switch(2)"><a>需求</a></p>
        </div>  -->
        <ul>
            <li (click)="switch(0)">
                <input checked type="radio" name="check" id="active2"><label for="active2">免费商品</label>
            </li>
            <li (click)="switch(1)">
                <input type="radio" name="check" id="active3"><label for="active3">商品</label>
            </li>
            <li (click)="switch(2)">
                <input type="radio" name="check" id="active4"><label for="active4">需求</label>
            </li>
        </ul>
    </div>
    <div class="good-info">
        <div class="base-box">
            <div class="row">
                <p id="flag" class="row-left">*货品名称：</p>
                <input id="flag" class="row-right" style="display: inline-block;" type="text" [(ngModel)]="gname" placeholder="请输入货品名称"/>
            </div>
            <div class="row">
                <p id="flag" class="row-left">*货品类别：</p>
                <div id="flag" class="row-right" >
                    <nz-select [(ngModel)]="selectedProvince" (ngModelChange)="provinceChange($event)">
                        <nz-option *ngFor="let p of provinceData" [nzValue]="p" [nzLabel]="p"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div *ngIf="priceHidden" class="row">
                <p id="flag" class="row-left">*货品价格：</p>
                <input id="flag" class="row-right"  type="text" [(ngModel)]="gprice" placeholder="请输入货品价格"/>
            </div>
            <div class="row">
                <p class="row-left">*货品详情：</p>
                <textarea id="textarea"class="row-right"  [(ngModel)]="gdetail" placeholder="请输入货品的详情" maxlength="500" autofocus="autofocus" ></textarea>
            </div>
        </div>
        <!-- <div class="label">
            <nz-tag
            *ngFor="let tag of tags; let i = index"
            [nzMode]="'closeable'"
            (nzAfterClose)="handleClose(tag)"
          >
            {{ sliceTagName(tag) }}
          </nz-tag>
          <nz-tag *ngIf="!inputVisible" class="editable-tag" nzNoAnimation (click)="showInput()">
            <i nz-icon nzType="plus"></i> New Tag
          </nz-tag>
          <input
            #inputElement
            nz-input
            nzSize="small"
            *ngIf="inputVisible"
            type="text"
            [(ngModel)]="inputValue"
            style="width: 78px;"
            (blur)="handleInputConfirm()"
            (keydown.enter)="handleInputConfirm()"
          />
        </div> -->
        <div class="clearfix">
            <p>上传图片</p>
            <nz-upload
              class="upload-list-inline"
              nzListType="picture"
        
              [nzBeforeUpload]="beforeUpload" 
              [nzMultiple]="true"
              [(nzFileList)]="fileList"
            >
              <button nz-button (click)="uploadsure()">
                <span><i nz-icon nzType="upload"></i> Upload</span>
              </button>
            </nz-upload>
          </div>
        <div class="submit">
            <button
            style="width: 100px;background-color: #108ee9;color: white;"
            nz-popconfirm
            nzPopconfirmTitle="是否上传?"
            (nzOnConfirm)="confirm()"
            (nzOnCancel)="cancel()"
            nzPopconfirmPlacement="top"
            nz-button
          >
            上传
          </button>
        </div>
    </div>
</div>
