
.content {
    width: 100%;
    height: 100%;
    border-left: 1px solid #ebedf0;
}

.tab {
    width: 90%;
    height: 40px;
    line-height: 40px;
    /* border: 1px solid #eee;
    border-radius: 15px; */
    margin: 0 auto;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-radius: 15px;

}

/* 清除li样式 */
ul,li{
    list-style: none;
}
/* 将ul相对定位，目的是让内容的div绝对定位时相对ul定位，否则会相对body定位 */
/* ul弹性盒，目的是让li横着排，也可以将li浮动或者转行内块 */
.tab ul{
    position: relative;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    background: rgb(235, 229, 229);
    border-radius: 15px;
}
/* 将三个li宽度平分，高度60px */
.tab ul li{
    flex:1;
    height:40px;
}
/* input隐藏 */
.tab ul li input{
    display:none;
}
/* 设置input的下一个节点label的样式 */
.tab ul li input+label{
    display:block;
    width:100%;
    height:100%;
  
    font-size:18px;
    text-align: center;
    line-height: 40px;
    color:#333;
    /* border: 1px solid #eee;
    border-radius: 15px; */
}

/* input选中状态时候对应的label的样式 */
.tab ul li input:checked+label{
    background: #66cc99;
    color:#fff;
    /* border: 1px solid #eee; */
    border-radius: 15px;
}

.good-info {
    width: 80%;
    min-height: 450px;
    margin: 8px auto;
    padding: 10px;
    border: 1px solid #ebedf0;
    border-radius: 15px;
}
.base-box {
    width: 80%;
    margin: auto auto;
    height: 260px;
    display: flex;
    flex-direction: column;
}
input {
    background:none;
    outline:none;
    border:1px  solid #ebedf0;
    padding-left: 12px;
    border-radius: 5px;
}
.row {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.row-left {
    flex: 1;
}
.row-right {
    flex: 2;
    margin-left: 20px;

}
.row #flag {
    height: 60%;
    display: flex;
    align-items: center;
}
#textarea {
    min-height: 100px;
    border:1px solid #ebedf0;
    padding-left: 12px;
    border-radius: 5px;

}
/* 类别 */
nz-select {
    margin-right: 8px;
    width: 120px;
}

/* 上传图片 */
.clearfix {
    width: 80%;
    margin: 10px auto;
}
:host ::ng-deep .upload-list-inline .ant-upload-list-item {
    float: left;
    width: 200px;
    margin-right: 8px;
}
/* 标签/图片 */
.editable-tag {
    background: rgb(255, 255, 255);
    border-style: dashed;
}

/* 提交按钮 */
.submit {
    width: 100%;
    height: 60px;
    margin: 30px 0 20px 0;
    text-align: center;
}
