* {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.background, .main {
    width: 100%;
}
.big-box {
    width: 75%;
    margin: 10px auto;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    border: 0.5px solid #eee;
}
.left-nav {
    flex: 1;
}
.nav-item {
    width: 100%;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #ebedf0;
    text-align: center;
}
.rigth-content {
    flex: 5;
}
.title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ebedf0;
    text-align: center;
    font-size: 18px;
}