<div class="background">
    <div class="main-box">
        <div class="title-box">
            <div class="title-ban">
                <p>私信</p>
             </div>
        </div>
        <div class="msg-box">
            <div class="list-box-left">
                <p>所有消息</p>
                <div class="user-list">
                    <ul>
                        <li class="user-list-item">
                            <div class="sender-box">
                                <div class="sender-msg-left">
                                    <div class="avatar" title="哔哩哔哩" style="background-image: url(https://i2.hdslb.com/bfs/face/01365904ffb64d1858da7e20e1040b9f2d94165d.jpg@42w_42h_1c.webp);"></div>
                                </div>
                                <div class="sender-msg-right" *ngFor="let item of senderList" (click)="getRecords(item.uid, item.username)">
                                    <div class="sender-name">
                                        {{item.username}}
                                    </div>
                                    <div class="one-msg">
                                        {{item.latestMsg}}
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="content-box-right">
                <div class="content-right-title">
                    <p>{{senderNameSelected}}</p>
                </div>

                <div class="content-list">
                    <ul>
                        <li class="content-list-item" *ngFor="let item of msgList">
                            <div class="time-box">
                                <p>{{item.create_time}}</p>
                            </div>
                            <div class="msg-item">
                                <div class="user-img" style="background-image: url(https://i2.hdslb.com/bfs/face/01365904ffb64d1858da7e20e1040b9f2d94165d.jpg@30w_30h_1c.webp);"></div>
                                <div class="message">
                                    <div class="message-content">
                                    {{item.content}}
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="send-box-bottom">
                    <div class="input-box">
                       <textarea [(ngModel)]="msgInput" placeholder="回复一下吧~" maxlength="500" autofocus="autofocus" class="textarea"></textarea>
                    </div>
                    <div class="send-button">
                        <button (click)="send()">发送</button>
                    </div>
                </div>

            </div>


        </div>


    </div>
</div>