<div class="background">
    <div class="main-box">
        <div class="title-box">
            <div class="title-ban">
                <p>私信</p>
             </div>
        </div>
        <div class="msg-box">
            <div class="list-box-left">
                <p>所有消息</p>
                <div class="user-list">
                    <ul>
                        <li class="user-list-item">
                            <div class="sender-box">
                                <div class="sender-msg-left">
                                    <div class="avatar" title="哔哩哔哩" style="background-image: url(https://i2.hdslb.com/bfs/face/01365904ffb64d1858da7e20e1040b9f2d94165d.jpg@42w_42h_1c.webp);"></div>
                                </div>
                                <div class="sender-msg-right">
                                    <div class="sender-name">
                                        哔哩哔哩大会员
                                    </div>
                                    <div class="one-msg">
                                        最新一条信息 最新一条信息 最新一条信息
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="content-box-right">
                <div class="content-right-title">
                    <p>当前聊天的用户名</p>
                </div>

                <div class="content-list">
                    <ul>
                        <li class="content-list-item">
                            <div class="time-box">
                                <p>2019年4月9日</p>
                            </div>
                            <div class="msg-item">
                                <div class="user-img" style="background-image: url(https://i2.hdslb.com/bfs/face/01365904ffb64d1858da7e20e1040b9f2d94165d.jpg@30w_30h_1c.webp);"></div>
                                <div class="message">
                                    <div class="message-content">
                                    平凡职业造就世界最强》漫画领券免费看！点击即可获得《平职》漫画阅读券10张，快来领取吧
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="send-box-bottom">
                    <div class="input-box">
                       <textarea placeholder="回复一下吧~" maxlength="500" autofocus="autofocus" class="textarea"></textarea>
                    </div>
                    <div class="send-button">
                        <button>发送</button>
                    </div>
                </div>

            </div>


        </div>


    </div>
</div>