.background {
  width: 100%;
  height: 100%;
  background: url(/assets/images/login1.jpg) center center no-repeat fixed;
  /* background-position: center center; */
}
.box{
    height: 100%;
    -webkit-display:flex;
    display:flex;
    -webkit-align-items:center;
    align-items:center;
    -webkit-justify-content:center;
    justify-content:center;
    border:1px solid #ccc;
}
.box .loginBox {
    width:300px;
    height:260px;
    /* background-color:red; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    /* box-shadow: 0px 0px  10px 5px #aaa; */
    box-shadow: 0px 0px  10px 5px rgb(22, 124, 219);
}
　


.login-form {
    max-width: 300px;
    max-height: 250px;
  }

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}
.login-form-register {
  float: right;
}