<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="bili-header-m report-wrap-module stardust-common">
  <div class="nav-menu">
    <div class="blur-bg" style="background-image:url(//i0.hdslb.com/bfs/archive/1ee3febf53becf8ca9e84387c4578f1b41c354be.png);"></div>
    <div class="nav-mask"></div>
    <div class="nav-wrapper bili-wrapper">
      <div class="nav-con nav-wrapper-left">
        <ul class="nav-con-ul">
          <li report-id="playpage_main" class="nav-item home"><a href="//www.bilibili.com" title="主站" class="t"><i class="header-iconfont header-icon-bilibili-tv"></i> 主站
              <!----></a>
            <!----></li>
        </ul>
      </div>
      <!---->
      <div class="nav-wrapper-right">
        <!---->
        <div class="nav-con">
          <ul class="nav-con-ul">
            <li report-id="playpage_account" class="nav-item profile-info"><a href="//space.bilibili.com" target="_blank" class="t">
                <div class="i-face">
                  <img src="//i2.hdslb.com/bfs/face/4dbf06d59d074a859282ea878c3def2c7fee4049.jpg@72w_72h.webp" class="face" />
                  <img class="pendant" />
                  <!---->
                </div></a>
              <div class="profile-m dd-bubble" style="display: none;">
                <div class="header-u-info">
                  <div class="header-uname">
                    <b class="">升级版我爱罗</b>
                    <!---->
                  </div>
                  <div class="btns-profile clearfix">
                    <div class="coin fl">
                      <a href="https://account.bilibili.com/site/coin" target="_blank" title="硬币"><i class="bili-icon bi"></i><i class="bili-icon jia"></i><span class="num">22</span><span class="num-move">23</span><span title="" class="num-tip">登录奖励</span></a>
                    </div>
                    <div class="currency fl">
                      <a href="https://pay.bilibili.com/bb_balance.html" target="_blank" title="B币"><i class="bili-icon"></i><span class="num">0</span></a>
                    </div>
                    <div class="ver phone fr verified">
                      <a href="https://passport.bilibili.com/account/security#/bindphone" target="_blank"><i class="bili-icon"></i><span class="tips">已绑定</span></a>
                    </div>
                    <div class="ver email fr">
                      <a href="https://passport.bilibili.com/account/security#/bindmail" target="_blank"><i class="bili-icon"></i><span class="tips">前去绑定邮箱</span></a>
                    </div>
                    <div class="link-to-bind-mobile"></div>
                  </div>
                  <div class="grade clearfix">
                    <span class="hd fl">等级</span>
                    <a href="https://account.bilibili.com/account/record?type=exp" target="_blank">
                      <div class="bar fr">
                        <div class="lt lv3"></div>
                        <div class="rate" style="width: 37%;"></div>
                        <div class="num">
                          <div>
                            1705
                            <span>/4500</span>
                          </div>
                        </div>
                      </div></a>
                    <div class="desc-tips">
                      <span class="arrow-left"></span>
                      <div class="lv-row">
                        作为
                        <strong>LV3</strong>，你可以：
                      </div>
                      <div>
                        1、发射个性弹幕（彩色、高级、顶部、底部）
                        <br />2、参与视频互动（评论、添加tag）
                        <br />3、投稿成为偶像
                      </div>
                      <a href="//www.bilibili.com/blackboard/help.html#%E4%BC%9A%E5%91%98%E7%AD%89%E7%BA%A7%E7%9B%B8%E5%85%B3?id=7251c4ab69d44a8ebbbd276dea46d790" target="_blank" class="help-link">会员等级相关说明 &gt;</a>
                    </div>
                  </div>
                </div>
                <div class="member-menu">
                  <ul class="clearfix">
                    <li><a href="https://account.bilibili.com/account/home" target="_blank" class="account"><i class="bili-icon b-icon-p-account"></i>个人中心 </a></li>
                    <li><a href="//member.bilibili.com/v2#/upload-manager/article" target="_blank" class="member"><i class="bili-icon b-icon-p-member"></i>投稿管理 </a></li>
                    <li><a href="https://pay.bilibili.com/" target="_blank" class="wallet"><i class="bili-icon b-icon-p-wallet"></i>B币钱包 </a></li>
                    <li><a href="//link.bilibili.com/p/center/index" target="_blank" class="live"><i class="bili-icon b-icon-p-live"></i>直播中心 </a></li>
                    <li><a href="//show.bilibili.com/orderlist" target="_blank" class="bml"><i class="bili-icon b-icon-p-ticket"></i>订单中心 </a></li>
                    <li>
                      <!----></li>
                  </ul>
                </div>
                <div class="member-bottom">
                  <a href="https://account.bilibili.com/login?act=exit" class="logout">退出</a>
                </div>
              </div></li>
            <li report-id="big_tab_click" class="nav-item"><a href="//account.bilibili.com/account/big" target="_blank" class="t"> 大会员
                <!----></a>
              <!----></li>
            <!---->
            <li data-v-4d9bc88b="" class="nav-item" report-id="playpage_message"><a data-v-4d9bc88b="" href="//message.bilibili.com" target="_blank" title="消息" class="t">
                <div data-v-4d9bc88b="" class="num">
                  2
                </div>
                <!----> 消息 </a>
              <!---->
              <div data-v-4d9bc88b="" class="i-frame" style="display: none;">
                <iframe data-v-4d9bc88b="" src="//message.bilibili.com/pages/nav/index_new_sync" frameborder="0" width="100%" height="100%"></iframe>
              </div></li>
            <li data-v-637a89c0="" class="nav-item" report-id="playpage_dynamic"><a data-v-637a89c0="" href="//t.bilibili.com" target="_blank" class="t">
                <!---->
                <!----> 动态</a>
              <div data-v-637a89c0="" class="i-frame" style="display: none;">
                <iframe data-v-637a89c0="" src="//t.bilibili.com/pages/nav/index" frameborder="0"></iframe>
              </div></li>
            <li report-id="playpage_watchlater" class="nav-item"><a href="//www.bilibili.com/watchlater/#/list" target="_blank" class="t">稍后再看</a>
              <!----></li>
            <li report-id="playpage_collection" class="nav-item"><a href="//space.bilibili.com/379834766/favlist" target="_blank" class="t">收藏</a>
              <!----></li>
            <li report-id="playpage_history" class="nav-item"><a href="//www.bilibili.com/account/history" target="_blank" class="t">历史</a>
              <!----></li>
            <li report-id="playpage_create_center" class="nav-item"><a href="//member.bilibili.com/v2#/home" target="_blank" class="t">创作中心</a></li>
          </ul>
        </div>

        <div report-id="playpage_contribution" class="up-load">
          <a href="//member.bilibili.com/v2#/upload/video/frame" target="_blank" class="u-link"> 投稿 </a>
          <!---->
        </div>
      </div>
    </div>
  </div>

  <ul>
    <li>图书</li>
    <li>文具</li>
    <li>生活用品</li>
    <li>电子产品</li>
    <li>化妆用品</li>
    <li>服装鞋包</li>
    <li>其它</li>
  </ul>

  <div id="banner_link" class="head-banner report-wrap-module report-scroll-module" style="background-image:url(//i0.hdslb.com/bfs/archive/1ee3febf53becf8ca9e84387c4578f1b41c354be.png);" scrollshow="true">
    <div class="head-content bili-wrapper">
      <div class="search">
        <form class="searchform">
          <input type="text" autocomplete="off" accesskey="s" x-webkit-speech="" x-webkit-grammar="builtin:translate" placeholder="瓜皮的id酱在此！" value="" class="search-keyword" />
          <button type="submit" class="search-submit"></button>
        </form>
      </div>
      <a href="//www.bilibili.com" class="head-logo" style="background-image:url(//i0.hdslb.com/bfs/archive/b3f60a4037cbe7a246b82d0ab28f40694a5a756c.png);"></a>
    </div>
    <a target="_blank" class="banner-link"></a>
  </div>


  <div class="bili-wrapper">
    <div id="primary_menu" class="primary-menu report-wrap-module report-scroll-module " scrollshow="true">
      <ul class="nav-menu">
        <li class="home"><a href="//www.bilibili.com">
            <!---->
            <div class="nav-name">
              首页
            </div></a>
          <ul class="sub-nav"></ul></li>
        <li class=""><a href="//www.bilibili.com/v/douga/">
            <div class="nav-name">
              动画
            </div></a>
        </li>

        <li class=""><a href="//www.bilibili.com/anime/">
            <div class="nav-name">
              番剧
            </div></a>
        </li>

        <li class=""><a href="//www.bilibili.com/guochuang/">
            <div class="nav-name">
              国创
            </div></a>
        </li>

        <li class=""><a href="//www.bilibili.com/v/music/">
            <div class="nav-name">
              音乐
            </div></a>
        </li>

      </ul>
      <div class="gif-menu nav-gif">
        <a href="http://search.bilibili.com/all?keyword=%E7%BE%8E%E7%90%B4&amp;from_source=gif_recommend" target="_blank" title="美琴" class="random-p"><img src="//i0.hdslb.com/bfs/active/f8514c2a7f3dc94a71f7feacc746f78ccae970c3.gif" alt="" /></a>
      </div>
    </div>
  </div>
</div>
</body>
</html>


