<div class="background">
    <div class="main">
        <div class="content">
            <div class="left">
                <div class="left-title">
                    <p>我的创建</p>
                </div>
                <ul>
                    <li class="favour-nav-item">
                        <div class="left-icon">
                            <img src="./新建.png">
                        </div>
                        <p class="right-text">
                            新建收藏夹
                        </p>
                    </li>
                    <li class="favour-nav-item">
                        <div class="left-icon">
                            <img src="./收藏夹.png">
                        </div>
                        <p class="right-text">
                            默认收藏夹
                        </p>
                    </li>
                    <li class="favour-nav-item">
                        <div class="left-icon">
                            <img src="./收藏夹.png">
                        </div>
                        <p class="right-text">
                            生活用品
                        </p>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="favour-selected">
                    <p class="name">默认收藏夹</p>
                    <div class="search-box">
                        <input id="key" type="text" placeholder="请输入关键词">
                        <button class="search-btn" (click)="search()">搜索</button>
                    </div>
                </div>
                <div class="goods">
                   <div class="good-item">
                        <div class="img-box">
                            <a href="./html/aodili.html"><img src="images/奥地利.jpg"></a>
                        </div>
                        <p>奥地利基茨比厄尔，滑雪小镇里的冬天</p>
                        <div>
                            收藏于：10月20日
                        </div>
                   </div>
                   <div class="good-item">
                        <div class="img-box">
                            <a href="./html/aodili.html"><img src="images/奥地利.jpg"></a>
                        </div>
                        <p>奥地利基茨比厄尔，滑雪小镇里的冬天</p>
                        <div>
                            收藏于：10月20日
                        </div>
                   </div>
                   <div class="good-item">
                        <div class="img-box">
                            <a href="./html/aodili.html"><img src="images/奥地利.jpg"></a>
                        </div>
                        <p>奥地利基茨比厄尔，滑雪小镇里的冬天</p>
                        <div>
                            收藏于：10月20日
                        </div>
                   </div>
                   <div class="good-item">
                        <div class="img-box">
                            <a href="./html/aodili.html"><img src="images/奥地利.jpg"></a>
                        </div>
                        <p>奥地利基茨比厄尔，滑雪小镇里的冬天</p>
                        <div>
                            收藏于：10月20日
                        </div>
                   </div>
                   <div class="good-item">
                        <div class="img-box">
                            <a href="./html/aodili.html"><img src="images/奥地利.jpg"></a>
                        </div>
                        <p>奥地利基茨比厄尔，滑雪小镇里的冬天</p>
                        <div>
                            收藏于：10月20日
                        </div>
                   </div>
                   <div class="good-item">
                        <div class="img-box">
                            <a href="./html/aodili.html"><img src="images/奥地利.jpg"></a>
                        </div>
                        <p>奥地利基茨比厄尔，滑雪小镇里的冬天</p>
                        <div>
                            收藏于：10月20日
                        </div>
                   </div>
                   <div class="good-item">
                        <div class="img-box">
                            <a href="./html/aodili.html"><img src="images/奥地利.jpg"></a>
                        </div>
                        <p>奥地利基茨比厄尔，滑雪小镇里的冬天</p>
                        <div>
                            收藏于：10月20日
                        </div>
                   </div>
                   <div class="good-item">
                        <div class="img-box">
                            <a href="./html/aodili.html"><img src="images/奥地利.jpg"></a>
                        </div>
                        <p>奥地利基茨比厄尔，滑雪小镇里的冬天</p>
                        <div>
                            收藏于：10月20日
                        </div>
                   </div>
                </div>
                <div class="footer-box" style="height: 60px; width:100%; margin-top: 20px; background-color: pink;">

                </div>
            </div>
        </div>
    </div>
</div>