<div class="background">
    <div class="main">
        <div class="content">
            <div class="left">
                <div class="left-title">
                    <p>我的创建</p>
                </div>
                <ul>
                    <li class="favour-nav-item">
                        <div class="left-icon">
                            <img src="/assets/images/新建.png">
                        </div>
                        <p class="right-text">
                            新建收藏夹
                        </p>
                    </li>
                    <!-- <li class="favour-nav-item">
                        <div class="left-icon">
                            <img src="/assets/images/收藏夹.png">
                        </div>
                        <p class="right-text">
                            默认收藏夹
                        </p>
                    </li> -->
                    <li class="favour-nav-item" *ngFor="let item of dirList" (click)="switch(item.fdid,item.foldername)">
                        <div class="left-icon">
                            <img src="/assets/images/收藏夹.png">
                        </div>
                        <p class="right-text">
                            {{item.foldername}}
                        </p>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="favour-selected">
                    <p class="name">{{foldername}}</p>
                    <div class="search-box">
                        <input id="key" type="text" [(ngModel)]="inputValue" placeholder="请输入关键词">
                        <button class="search-btn" (click)="search()">搜索</button>
                    </div>
                </div>
                <div class="goods">
                   <div class="good-item" *ngFor="let item of goodList">
                        <div class="img-box">
                            <a href="./html/aodili.html"><img src="/assets/images/奥地利.jpg"></a>
                        </div>
                        <p><a class="good-name" (click)="toDetail()">{{item.gname}}</a></p>
                        <div>
                            收藏于：{{cutTime(item.create_time)}}
                        </div>
                   </div>
                   <!-- <div class="good-item">
                        <div class="img-box">
                            <a href="./html/aodili.html"><img src="images/奥地利.jpg"></a>
                        </div>
                        <p>奥地利基茨比厄尔，滑雪小镇里的冬天</p>
                        <div>
                            收藏于：10月20日
                        </div>
                   </div>
                   <div class="good-item">
                        <div class="img-box">
                            <a href="./html/aodili.html"><img src="images/奥地利.jpg"></a>
                        </div>
                        <p>奥地利基茨比厄尔，滑雪小镇里的冬天</p>
                        <div>
                            收藏于：10月20日
                        </div>
                   </div>
                   <div class="good-item">
                        <div class="img-box">
                            <a href="./html/aodili.html"><img src="images/奥地利.jpg"></a>
                        </div>
                        <p>奥地利基茨比厄尔，滑雪小镇里的冬天</p>
                        <div>
                            收藏于：10月20日
                        </div>
                   </div>
                   <div class="good-item">
                        <div class="img-box">
                            <a href="./html/aodili.html"><img src="images/奥地利.jpg"></a>
                        </div>
                        <p>奥地利基茨比厄尔，滑雪小镇里的冬天</p>
                        <div>
                            收藏于：10月20日
                        </div>
                   </div>
                   <div class="good-item">
                        <div class="img-box">
                            <a href="./html/aodili.html"><img src="images/奥地利.jpg"></a>
                        </div>
                        <p>奥地利基茨比厄尔，滑雪小镇里的冬天</p>
                        <div>
                            收藏于：10月20日
                        </div>
                   </div>
                   <div class="good-item">
                        <div class="img-box">
                            <a href="./html/aodili.html"><img src="images/奥地利.jpg"></a>
                        </div>
                        <p>奥地利基茨比厄尔，滑雪小镇里的冬天</p>
                        <div>
                            收藏于：10月20日
                        </div>
                   </div>
                   <div class="good-item">
                        <div class="img-box">
                            <a href="./html/aodili.html"><img src="images/奥地利.jpg"></a>
                        </div>
                        <p>奥地利基茨比厄尔，滑雪小镇里的冬天</p>
                        <div>
                            收藏于：10月20日
                        </div>
                   </div> -->
                </div>
                <div class="footer-box" style="height: 60px; width:100%; margin-top: 20px; background-color: pink;">

                </div>
            </div>
        </div>
    </div>
</div>